/*Style for searchbox*/
.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.meter { 
   height: 15px;  /* Can be anything */
   position: relative;
   background: #26A1D6;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   padding: 5px;
   box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
   display: block;
   height: 100%;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   background-color: orange;
   background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
   );
   position: relative;
   overflow: hidden;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left:25%;
  margin-right:25%;
  width: 50%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}
/*-----------------------------------------*/

.element{
    font-family: Roboto;
    margin: auto;
    width: 10%;
}

#firstHeading h3 {
   display: block;
   font-size: 2em;
   margin-top: 0.67em;
   margin-bottom: 0.67em;
   margin-left: 0;
   margin-right: 0;
   font-weight: bold;
}

#secondHeading h4 {
   display: block;
   font-size: 1.5em;
   margin-top: 0.83em;
   margin-bottom: 0.83em;
   margin-left: 0;
   margin-right: 0;
   font-weight: bold;
}

#map {
    margin-right: 0px;
    margin-left: 0px;
}

#title{
    font-family: Roboto;
    color : white;
    text-shadow: 0 0 45px white;
}

#login{
    font-family: Roboto;
    text-shadow: 0 0 45px white;
}
/*absolute selector*/
select { 
  font-family: Roboto;
  float:right; 
  color : orange;
}

button {
  font-family: Roboto;
  float:left;
}


/*.center-block {
  display:block;
  margin-left: auto;
  margin-right: auto;
}*/
