/*Style for searchbox*/
.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left:25%;
  margin-right:25%;
  width: 50%;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
}
/*-----------------------------------------*/

.element{
    font-family: Roboto;
    margin: auto;
    width: 10%;
}
         
#map {
    height: 600px;
    width: 90%;

}



h2{
    text-shadow: 0 0 45px white;
}

/*absolute selector*/
select, options{ 
  float:right; 
}

button {
  float:left;
}



