/*Style for searchbox*/
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.meter { 
   height: 10px;  /* Can be anything */
   position: relative;
   background: #08304b;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   padding: 5px;
   box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
   display: block;
   height: 100%;
   border-top-right-radius: 2px;
   border-bottom-right-radius: 2px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   background-color: orange;
   background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
   );
   position: relative;
   overflow: hidden;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left:12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
}

#pac-input:focus {
  border-color: #4d90fe;
}
/*-----------------------------------------*/

.element{
    font-family: Roboto;
    margin: auto;
    width: 10%;
}
         
#map{
    height: 600px;
    width: 100%;

}



#title{
    color: orange;
    text-shadow: 0 0 45px white;
}

/*absolute selector*/
select, options{ 
  z-index:10;
  position:absolute;
  top:130px;
  left:125px;
  width:130px;
}

button {
  position:absolute;
  top:130px;
  left:260px;
  width:117px;
}
